.product-container {
  display: flex;

  .content-left {
    width: 50%;

    .img-up {
      img {
        width: 100%;
        max-height: 450px;
        height: 100%;

        border-radius: 5px;

        object-fit: cover;

        cursor: pointer;
      }
    }

    .img-down {
      display: flex;
      align-items: center;
      gap: 10px;

      margin-top: 5px;

      .img-small {
        img {
          width: 80px;
          height: 80px;

          object-fit: cover;

          border-radius: 5px;

          cursor: pointer;
        }

        .active {
          outline: 3px solid red;
        }
      }
    }
  }

  .content-right {
    width: 50%;

    .title {
      font-size: 18px;
      font-weight: 700;
      text-align: left;

      padding: 10px 0;
    }

    .price {
      font-size: 20px;
      font-weight: 700;
      padding: 5px 0 15px 0;
    }

    .color {
      font-size: 16px;
      padding: 5px 0;
    }

    .action {
      display: flex;
      flex-flow: column;
      gap: 15px;

      .quantity {
        padding-top: 15px;
      }
      .input-quantity {
        width: 10%;
        height: 24px;
        outline: none;
        border-radius: 3px;
        border: none;
      }

      button {
        display: inline;
      }
    }
  }
}
