.blog {
  .search {
    text-align: center;
    // padding: 20px 0 0 0;
    margin-top: 25px;

    input {
      width: 25%;
      padding: 15px;
      font-size: 16px;
      border-radius: 5px;
    }
  }
  .post-error {
    text-align: center;
    margin-top: 50px;
  }
  .post-list {
    padding: 50px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: '. . .';

    .post-item {
      height: 200px;

      text-align: center;
      color: aqua;

      cursor: pointer;

      h3 {
        padding: 10px 0;
      }
    }
  }

  .pagination {
    display: flex;
    gap: 0 25px;
    justify-content: center;
    text-align: center;
    padding: 20px;

    button {
      padding: 10px;

      border-radius: 3px;
      outline: none;

      font-weight: 700;
      color: #000;

      cursor: pointer;

      &:disabled {
        font-weight: 500;
      }
    }
  }
}
